<!-- start page -->
<div id="wrapper">
<div id="page">
		<!-- start content -->
<div id="content">
<div class="entry">
<p>
<h1><strong>Commercial</strong></h1>
<h4>Do you have a small commercial rennovation or new construction project that requires professional quality at unbeatable value?  <strong>GD Construction</strong> may be able to help you complete your project within your budget even if a larger contractor cannot.<br>
</p>
<br>
<table>
<tr>			
<td><p><img src="images/commercial.png" class="left"/></p></td>	
<td><ul><p>
<li>Detached metal building construction
<li>Office space rennovation
<li>Church sactuary and gymnasium rennovation
<li>Storage space and warehousing
<li><strong><%= link_to("free estimate service", estimate_path) %> </strong> or contact us at (478) 456-4763 or (478) 456-1141
</ul>
</h4></p></td>
</tr>

</table>

	</div>
</div>

		<!-- end content -->
		<br style="clear: both;" />
	</div>
</div>
<!-- end page -->
