<!-- start page -->
<div id="wrapper">
<div id="page">
		<!-- start content -->
<div id="content">
<div class="entry">
<p>
<h1><strong>Estimates</strong></h1>
This is the future site of <strong>GD Construction</strong>, a locally owned and operated general construction company in Milledgeville, Georgia.  Please check back with this site soon to learn more about our full offering and to read about some of the work we have been doing in the local community.  In the meantime, if you are interested in receiving more information or getting a free quote, please contact us at (478) 456-4763 or (478) 456-1141.<br>
</p>
<br>

<table>
<tr>			
<td><p><img src="images/solid.jpg" class="left"/></p></td>
			
<td><p>This is the future site of <strong>GD Construction</strong>, a locally owned and operated general construction company in Milledgeville, Georgia.  Please check back with this site soon to learn more about our full offering and to read about some of the work we have been doing in the local community.  In the meantime, if you are interested in receiving more information or getting a free quote, please contact us at (478) 456-4763 or (478) 456-1141.
</p></td>
</tr>

</table>

	</div>
</div>

		<!-- end content -->
		<br style="clear: both;" />
	</div>
</div>
<!-- end page -->
