<!-- start page -->
<div id="wrapper">
<div id="page">
		<!-- start content -->
<div id="content">
<div class="entry">
<p>
<h1><strong>Flooring</strong></h1>
<h4>Whether you are looking to replace your existing floors or add custom flooring to a new construction project, <strong>GD Construction</strong> is here to help.  Even the simplest flooring installations can turn into a real nightmare if not properly planned and executed.  We bring the wealth of knowledge and experience necessary to professionally orchestrate even the toughest flooring jobs.
<br>
</p>
<br>
<table>
<tr>			
<td><p><img src="images/flooring.png" class="left"/></p></td>		
<td><p><ul>
<li>Hardwood floors
<li>Tile floors and tile countertops
<li>Laminate flooring
<li>Sub-floor repair
<li><strong><%= link_to("free estimate service", estimate_path) %> </strong> or contact us at (478) 456-4763 or (478) 456-1141
</ul></h4></p></td>
</tr>

</table>

	</div>
</div>

		<!-- end content -->
		<br style="clear: both;" />
	</div>
</div>
<!-- end page -->
