<!-- start page -->
<div id="wrapper">
<div id="page">
		<!-- start content -->
<div id="content">
<div class="entry">
<p>
<h1><strong>Residential</strong></h1>
<h4>The flagship of our business is in our residential construction and home improvement expertice.  From new home construction planning and contracting to room additions on existing residences, we have delivered continuous quality to our residential customers for over 5 years.  If you are planning to build a new house or remodel your existing home, <strong>GD Construction</strong> will deliver the professional quality that the market demands at a value the market can't beat.
<br>
</p>
<br>
<table>
<tr>			
<td><p><img src="images/kitchen.png" class="left"/></p></td>		
<td><p><ul>
<li>Roofing installation and replacement
<li>Kitchen and bath remodeling
<li>Cabinet installation
<li>Siding installation and repair
<li>Room additions and home expansions
<li><strong><%= link_to("free estimate service", estimate_path) %> </strong> or contact us at (478) 456-4763 or (478) 456-1141
</ul></h4></p></td>
</tr>

</table>

	</div>
</div>

		<!-- end content -->
		<br style="clear: both;" />
	</div>
</div>
<!-- end page -->
