<!-- start page -->
<div id="wrapper">
<div id="page">
		<!-- start content -->
<div id="content">
<div class="entry">
<p>
<h1><strong>Testimonials</strong></h1>
Please bear with us as we finalize this very important portion of our website.  We have contacted some of our recent customers to get real testimonials and need to give them adequate time to respond.  If you are interested in speaking with one of the posted clients, please let us know and we will try to arrange a phone call.<br>
</p>
<br>

<table>
<tr>			
<td><p><img src="images/solid.jpg" class="left"/></p></td>		
<td><p>"Here is where we can put a quoted testimonial from Blake Shiver"
</p></td>
</tr>
</table>

<table>
<tr>			
<td><p><img src="images/solid.jpg" class="left"/></p></td>		
<td><p>"Here is where we can put a quoted testimonial from Blake Shiver"
</p></td>
</tr>
</table>

	</div>
</div>

		<!-- end content -->
		<br style="clear: both;" />
	</div>
</div>
<!-- end page -->
