<!-- start footer -->
<div id="wrapper2">
	<div id="footer">
		<ul>
			<li class="first">
				<h2>Our Partners</h2>
				<ul>
					<li><a href="#">Church in Milledgeville</a></li>
					<li><a href="#">Lowes Home Improvement</a></li>
					<li><a href="#">Rusty</a></li>
				</ul>
			</li>
			<li>
				<h2>Testimonials</h2>
				<ul>
					<li><a href="#">Blake in Raleigh, NC</a></li>
					<li><a href="#">Jennifer in Milledgeville, GA</a></li>
					<li><a href="#">Wiley in Warner Robbins, GA</a></li>
				</ul>
			</li>
			<li>
				<h2>Common Forms</h2>
				<ul>
					<li><a href="#">Square Footage Calculator</a></li>
					<li><a href="#">Lowes Cabinet Designer</a></li>

				</ul>
			</li>
		</ul>
	</div>
	<p id="legal"> &nbsp;&nbsp;&bull;&nbsp;&nbsp;&copy;2011 GD Construction. All Rights Reserved.&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		
	</p>
</div>
<!-- end footer -->
