<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><a href="#">Construction</a></h1>
		<p align="right"><a href="#">(478) 456-4763
&nbsp;&nbsp;&nbsp;&nbsp; &diams; &nbsp;&nbsp;&nbsp;&nbsp; 
(478) 456-1141</a></p>
	</div>
	<div id="menu">
		<ul>
			<li class="active"><a href="home.html">Home</a></li>
			<li><a href="flooring.html">Flooring</a></li>
			<li><a href="residential.html">Residential</a></li>
			<li><a href="commercial">Commercial</a></li>
			<li><a href="estimates.html">Estimates</a></li>
		</ul>
	</div>
</div>
<hr />
<!-- end header -->
